body {
    /* outline: 2px solid #f00; */
}

* {
    /* outline: 1px solid; */
}


/*
    Container 1047px
*/

@media screen and (max-width: 1050px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 918px) {
    .con__row {
        display: block;
    }
    .con__form {
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .contact {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 657px) {
    .gal__row {
        justify-content: center;
        align-items: center;
    }
    .home__bold-txt,
    .bold__title,
    .con__title {
        font-size: 50px;
    }
}

@media screen and (max-width: 425px) {
    .logo {
        flex-direction: column;
    }
    .home__btn-2 {
        display: none;
    }
    .logo__txt-bold {
        font-size: 40px;
    }
    .logo__txt {
        text-align: center;
    }
    .con__form input {
        width: 100%;
    }
    .con__col {
        margin-top: 40px;
    }
}